html, body {
    background-color: black;
}
#sun {
    position: absolute;
    top: 50%;
    left: 50%;
    border-color: orange;
    border-width: 0px;
    border-style: solid;
    border-radius: 50%;
	box-shadow: 0 0 64px orange;
    height: 200px;
    width: 200px;
    margin-top: -100px; 
    margin-left: -100px;
}
#earth {
	position: absolute;
	top: 0%;
	left: 25%;
	height: 50px;
	width: 50px;
	margin-top: -25px;
	margin-left: -25px;
	border-color: blue;
	border-width: 0.5px;
	border-style: solid;
	border-radius: 50%;
	box-shadow: 0 0 32px blue;
	-webkit-animation: spin-right 5s linear infinite;
     -moz-animation: spin-right 5s linear infinite;
      -ms-animation: spin-right 5s linear infinite;
       -o-animation: spin-right 5s linear infinite;
          animation: spin-right 5s linear infinite;
}
#moon {
	height: 20px;
	width: 20px;
	border-color: white;
	border-width: 0.2px;
	border-style: solid;
	border-radius: 50%;
	box-shadow: 0 0 12px white;
}
#earth-orbit {
	position: absolute;
	top: 46%;
	left: 47%;
	width: 600px;
	height: 600px;
	margin-top: -250px;
	margin-left:-250px;
	border-width: 2px;
	border-style: dotted;
	border-color: black;
	border-radius: 50%;
	-webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
}
#moon-orbit {
	width: 100px;
	height: 100px;
	margin-top: -50px;
	margin-left: 99px;
	border-width: 2px;
	border-style: dotted;
	border-color: black;
	border-radius: 50%;
	-webkit-animation: spin-right 2.3s linear infinite;
     -moz-animation: spin-right 2.3s linear infinite;
      -ms-animation: spin-right 2.3s linear infinite;
       -o-animation: spin-right 2.3s linear infinite;
          animation: spin-right 2.3s linear infinite;
}
@-webkit-keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
  }
}
@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}